<div class="row" *ngIf="isVideoListVisible">
  <div class="col-xs-12">
    <div class="table-responsive"
      *ngIf="videos.length > 0; else noVideos">
      <table class="table">
        <thead>
          <tr>
            <th>Nomes</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let video of videos">
            <td>{{ video.name }}</td>
            <td>
              <a (click)="deleteVideo(video.videoId)" class="text-danger">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Excluir
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <ng-template #noVideos>
      <p>Você ainda não cadastrou nenhum vídeo.</p>
    </ng-template>

    <button
      (click)="showVideoForm()"
      class="btn btn-primary pull-right">
      Adicionar vídeo
    </button>
  </div>
</div>

<div class="row" *ngIf="isVideoFormVisible">
  <div class="col-xs-12">
    <form
      #f="ngForm"
      name="form"
      (ngSubmit)="f.form.valid && addVideo()"
      novalidate>
      <div class="form-group"
        [ngClass]="{ 'has-error': newVideoName.touched && !newVideoName.valid }">
        <label for="newVideoName">Nome*</label>
        <input
          type="text"
          class="form-control"
          name="newVideoName"
          [(ngModel)]="newVideo.name"
          #newVideoName="ngModel"
          required />
        <div
          *ngIf="newVideoName.touched && !newVideoName.valid"
          class="help-block">
          Nome obrigatório
        </div>
      </div>

      <div
        class="form-group"
        [ngClass]="{ 'has-error': !isFileTypeSupported && uploader.files.length > 0 }">
        <label for="file">Upload*</label>
        <input
          type="file"
          id="file"
          name="file"
          accept="video/*"
          #uploader
          (change)="fileChange(uploader.files)" required />
        <div
          *ngIf="!isFileTypeSupported && uploader.files.length > 0"
          class="help-block">
          Tipo de arquivo não suportado
        </div>
        <p class="help-block">
          São aceitos apenas arquivos de vídeo, com tamanho máximo de 30 MB.
        </p>
      </div>

      <div class="form__button-container">
        <button
          type="button"
          class="btn btn-default"
          (click)="backToVideoList()">
          Voltar para a lista
        </button>
        <button
          [disabled]="!f.valid || !fileSelected || (!isFileTypeSupported && uploader.files.length > 0)"
          type="submit"
          class="btn btn-success">
          <span class="glyphicon glyphicon-cog spinning" *ngIf="loading"></span>
          {{ !loading ? 'Salvar vídeo' : 'Carregando...' }}
        </button>
      </div>

    </form>
  </div>
</div>
