<div class="row" *ngIf="courses">
  <div class="col-xs-12">
    <h3>Lista de cursos</h3>

    <div class="table-responsive" *ngIf="courses.length > 0; else noCourses">
      <table class="table">
        <thead>
          <tr>
            <th>Curso</th>
            <th class="hidden-xs">Instrutor</th>
            <th class="hidden-xs">Categoria</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let course of courses">
            <td>{{ course.name }}</td>
            <td class="hidden-xs">{{ course.instructor }}</td>
            <td class="hidden-xs">{{ course.category }}</td>
            <td>
              <a [routerLink]="['/admin/courses', course.courseId]">
                <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>
              </a>
              <a (click)="deleteCourse(course.courseId)">
                <span class="glyphicon glyphicon-remove text-danger" aria-hidden="true"></span>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <ng-template #noCourses>
      <p>
        Sem cursos no momento.
      </p>
    </ng-template>

    <button
      [routerLink]="['/admin/courses/add']"
      class="btn btn-success pull-right">
      Adicionar curso
    </button>
  </div>
</div>
