<div *ngIf="course">

  <div class="row">
    <div class="col-xs-12">
      <h3>{{ course.name }}</h3>

      <div class="panel panel-default course-detail__info">
        <div class="panel-body">
          <p *ngIf="course.description">
            {{ course.description }}
          </p>
          <p>
            <strong>Instrutor:</strong> {{ course.instructor }}
          </p>
          <p>
            <strong>Categoria:</strong> {{ course.category }}
          </p>
          <p *ngIf="course.keywords.length > 0">
            <strong>Palavras-chave:</strong>
            <span class="label label-default"
                  *ngFor="let keyword of course.keywords">
              {{ keyword.name }}
            </span>
          </p>
          <a
            (click)="deleteCourse(course.courseId)"
            class="text-danger pull-right">
            Excluir curso
          </a>
        </div>
      </div>

    </div>
  </div>

  <div class="row course-detail__tabs">
    <div class="col-xs-12">
      <ul class="nav nav-tabs">
        <li role="presentation"
          [ngClass]="{'active': tabContent === 'lessons'}">
          <a (click)="showTabContent('lessons')">
            Unidades
          </a>
        </li>
        <li role="presentation"
          [ngClass]="{'active': tabContent === 'materials'}">
          <a (click)="showTabContent('materials')">
            Materiais
          </a>
        </li>
      </ul>
    </div>
  </div>

  <app-course-lessons
    *ngIf="tabContent === 'lessons'"
    [lessons]="course.lessons"
    [courseId]="course.courseId"
    (updateCourseDetail)="updateCourseDetail()">
  </app-course-lessons>

  <app-course-materials
    *ngIf="tabContent === 'materials'"
    [materials]="course.materials"
    [courseId]="course.courseId"
    (updateCourseDetail)="updateCourseDetail()">
  </app-course-materials>

</div>
