<div class="row home-text">
  <div class="col-xs-12">
    <h4>Bem-vindo!</h4>

    <p>Veja os nossos cursos disponíveis abaixo ou assista a um curso em que você esteja matriculado.</p>
  </div>
</div>

<div class="row" *ngIf="courses && userCourses">
  <div class="col-xs-12 col-lg-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Todos os nossos cursos</h3>
      </div>
      <table class="table" *ngIf="courses.length > 0; else noCourses">
        <tbody>
          <tr *ngFor="let course of courses | slice:0:5">
            <td class="col-sm-11">
              <a [routerLink]="['/platform/courses', course.courseId]">
                {{ course.name }}
              </a>
            </td>
            <td class="col-sm-1">
              <button
                type="button"
                class="btn btn-success btn-xs pull-right"
                *ngIf="!course.isSubscribed"
                (click)="subscribeCourse(course.courseId)">
                Inscrever-se
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="panel-footer" *ngIf="courses.length > 5">
        <a [routerLink]="['/platform/courses/list']">
          Ver lista completa de cursos
        </a>
      </div>
      <ng-template #noCourses>
        <div class="panel-body">
          No momento ainda não temos cursos disponíveis :(
        </div>
      </ng-template>
    </div>
  </div>

  <div class="col-xs-12 col-lg-6">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Cursos que você está inscrito</h3>
      </div>
      <table class="table"
        *ngIf="userCourses.length > 0; else noUserCourses">
        <tbody>
          <tr *ngFor="let userCourse of userCourses | slice:0:5">
            <td>
              <a [routerLink]="['/platform/courses', userCourse.courseId]">
                {{ userCourse.course.name }}
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="panel-footer" *ngIf="userCourses.length > 5">
        <a [routerLink]="['/platform/courses/your-list']">
          Ver todos os seus cursos
        </a>
      </div>
      <ng-template #noUserCourses>
        <div class="panel-body">
          Você ainda não se inscreveu em nenhum curso.
        </div>
      </ng-template>
    </div>

  </div>
</div>
