<div class="row">
  <div class="col-xs-12">
    <!-- <ol *ngIf="materials.length > 0; else noMaterials">
      <li *ngFor="let material of materials">
        {{ material.name }}
      </li>
    </ol> -->
    <div class="table-responsive"
      *ngIf="materials.length > 0; else noMaterials">
      <table class="table">
        <thead>
          <tr>
            <th>Nome do material</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let material of materials">
            <td>{{ material.name }}</td>
            <td>
              <a href="" (click)="deleteMaterial(material.materialId)">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <ng-template #noMaterials>
      <p>Sem materiais cadastrados no momento.</p>
    </ng-template>

    <button
      (click)="showMaterialForm()"
      class="btn btn-primary pull-right">
      Adicionar material
    </button>
  </div>
</div>

<div class="row" *ngIf="isMaterialFormVisible">
  <div class="col-xs-12">
    <form
      #f="ngForm"
      name="form"
      (ngSubmit)="f.form.valid && addMaterial()"
      novalidate>
      <div
        class="form-group"
        [ngClass]="{ 'has-error': newMaterialName.touched && !newMaterialName.valid }">
        <label for="newMaterialName">Nome do material*</label>
        <input
          type="text"
          class="form-control"
          name="newMaterialName"
          [(ngModel)]="newMaterial.name" #newMaterialName="ngModel" required />
        <div
          *ngIf="newMaterialName.touched && !newMaterialName.valid"
          class="help-block">
          Nome obrigatório
        </div>
      </div>

      <div class="form-group">
        <label for="file">Upload*</label>
        <input
          type="file"
          id="file"
          name="file"
          #uploader
          (change)="fileChange(uploader.files)" />
      </div>

      <button
        [disabled]="!f.valid"
        type="submit"
        class="btn btn-primary">
        Salvar
      </button>
    </form>
  </div>
</div>
