<div class="row" *ngIf="isMaterialListVisible">
  <div class="col-xs-12">
    <div class="table-responsive"
      *ngIf="materials.length > 0; else noMaterials">
      <table class="table">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let material of materials">
            <td>{{ material.name }}</td>
            <td>
              <a (click)="deleteMaterial(material.materialId)" class="text-danger">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Excluir
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <ng-template #noMaterials>
      <p>Você ainda não cadastrou nenhum material.</p>
    </ng-template>

    <button
      (click)="showMaterialForm()"
      class="btn btn-primary pull-right">
      Adicionar material
    </button>
  </div>
</div>

<div class="row" *ngIf="isMaterialFormVisible">
  <div class="col-xs-12">
    <form
      #f="ngForm"
      name="form"
      (ngSubmit)="f.form.valid && addMaterial()"
      novalidate>
      <div
        class="form-group"
        [ngClass]="{ 'has-error': newMaterialName.touched && !newMaterialName.valid }">
        <label for="newMaterialName">Nome*</label>
        <input
          type="text"
          class="form-control"
          name="newMaterialName"
          [(ngModel)]="newMaterial.name"
          #newMaterialName="ngModel"
          required />
        <div
          *ngIf="newMaterialName.touched && !newMaterialName.valid"
          class="help-block">
          Nome obrigatório
        </div>
      </div>

      <div
        class="form-group"
        [ngClass]="{ 'has-error': !isFileTypeSupported && uploader.files.length > 0 }">
        <label for="file">Upload*</label>
        <input
          type="file"
          id="file"
          name="file"
          #uploader
          accept="application/msword,application/vnd.ms-powerpoint,application/pdf,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/vnd.openxmlformats-officedocument.presentationml.presentation"
          (change)="fileChange(uploader.files)"
          required />
        <div
          *ngIf="!isFileTypeSupported && uploader.files.length > 0"
          class="help-block">
          Tipo de arquivo não suportado
        </div>
        <p class="help-block">
          Tipos de arquivos suportados: .doc, .docx, .ppt, .pptx ou .pdf. Tamanho máximo do arquivo: 30 MB.
        </p>
      </div>

      <div class="form__button-container">
        <button
          type="button"
          class="btn btn-default"
          (click)="backToMaterialList()">
          Voltar para a lista
        </button>
        <button
          [disabled]="!f.valid || !fileSelected || (!isFileTypeSupported && uploader.files.length > 0)"
          type="submit"
          class="btn btn-success">
          Salvar material
        </button>
      </div>
    </form>
  </div>
</div>
