.course-video {
  &__title {
    margin-bottom: 30px;
    @media screen and (max-width: 767px) {
      margin-bottom: 10px;
    }
  }

  &__back {
    margin-bottom: 1em;
    display: block;
  }
}

video {
  height: 100%;
  width: 100%;
}

aside {
  background: #F3F9FF;
  padding: 1em;
  margin-bottom: 1em;

  & > ol {
    margin-bottom: 0;
    & > li > ol,
    & > li > ul {
      margin-bottom: 20px;
      padding-left: 15px;
    }

    & > li > ol > li,
    & > li > ul > li {
      margin: 5px 0;
    }
  }
}
