<div
  class="alert alert-danger course-exam__result--not-approved"
  *ngIf="!isApproved && isExamSubmitted">

  <p class="lead">
    Ops! Infelizmente você não conseguiu passar nesta atividade :(
  </p>

  <p>
    Você pode voltar pro curso pra estudar mais um pouco ou tentar resolver
    as questões novamente.
  </p>

  <div>
    <button
      [routerLink]="['/platform/courses', exam.lesson.courseId]"
      type="button"
      class="btn btn-default">
      Voltar para o curso
    </button>
  </div>
</div>

<div
  class="alert alert-success course-exam__result--approved"
  *ngIf="isApproved">
  <p class="lead">
    <strong>Parabéns!</strong> Você conseguiu a aprovação nesta atividade!
  </p>

  <div>
    <button
      [routerLink]="['/platform/courses', exam.lesson.courseId]"
      type="button"
      class="btn btn-default">
      Voltar para o curso
    </button>
  </div>
</div>

<div class="row" *ngIf="exam && !isApproved">
  <div class="col-xs-12">
    <h3>Atividade avaliativa</h3>
    <p *ngIf="exam.questions"
       class="course-exam__text">
      Para ser aprovado neste curso, além de assistir a todos os vídeos,
      é preciso fazer todas as atividades previstas e acertar pelo menos 70% das questões.
    </p>
    <form *ngIf="exam.questions"
          #f="ngForm"
          name="form"
          (ngSubmit)="f.form.valid && submitExam()"
          novalidate>
      <ol>
        <li *ngFor="let question of exam.questions">
          <p>
            {{ question.name }}
          </p>
          <div class="radio"
               *ngFor="let questionChoice of question.questionChoices">
            <label>
              <input type="radio"
                     name="{{ question.questionId }}"
                     [value]="questionChoice.questionChoiceId"
                     [(ngModel)]="question.choiceId">
              {{ questionChoice.name }}
            </label>
          </div>
        </li>
      </ol>
      <button [disabled]="!f.valid || (isApproved && isExamSubmitted)"
              type="submit"
              class="btn btn-success pull-right">
        <span class="glyphicon glyphicon-cog spinning" *ngIf="loading"></span>
        {{ !loading ? 'Enviar' : null }}
      </button>
    </form>
  </div>
</div>
