<div *ngIf="course">

  <alert type="success" *ngIf="course.isCompleted">
    <p class="lead">
      <strong>Parabéns!</strong> Você foi aprovado neste curso!
    </p>
    <p>
      <a class="alert-link"
        [routerLink]="['/platform/courses', course.courseId, 'certificate']">
        Clique aqui</a> para visualizar o seu certificado de participação.
    </p>
  </alert>

  <div class="row">
    <div class="col-xs-12">
      <h3>Detalhes de {{ course.name }}</h3>

      <div class="panel panel-default course-detail__info"> 
        <div class="panel-body">
          <p *ngIf="course.description">
            {{ course.description }}
          </p>
          <p>
            <strong>Instrutor:</strong> {{ course.instructor }}
          </p>
          <p>
            <strong>Categoria:</strong> {{ course.category }}
          </p>
          <p *ngIf="course.keywords.length > 0">
            <strong>Palavras-chave:</strong>
            <span class="label label-default"
                  *ngFor="let keyword of course.keywords">
              {{ keyword.name }}
            </span>
          </p>

          <button *ngIf="!course.isSubscribed"
                  (click)="subscribeCourse(course.courseId)"
                  class="btn btn-success pull-right">
            Inscrever-se
          </button>
        </div>
      </div>

    </div>
  </div>

  <div class="row course-detail__content">
    <div class="col-xs-12">
      <h4>Conteúdo do curso</h4>

      <accordion>
        <accordion-group
          *ngFor="let lesson of course.lessons"
          heading="{{ lesson.name }}">
          <ol *ngIf="lesson.videos.length > 0">
            <li *ngFor="let video of lesson.videos">
              <a
                *ngIf="course.isSubscribed; else noSubscribed"
                [routerLink]="['/platform/courses', course.courseId, 'videos', video.videoId]">
                {{ video.name }}
              </a>
              <ng-template #noSubscribed>
                {{ video.name }}
              </ng-template>
            </li>
            <li *ngIf="lesson.exam">
              <a
                *ngIf="course.isSubscribed && !course.isCompleted; else noSubscribed"
                [routerLink]="['/platform/courses', course.courseId, 'exams', lesson.exam.examId]">
                Atividade avaliativa
              </a>
              <ng-template #noSubscribed>
                Atividade avaliativa
              </ng-template>
            </li>
          </ol>
        </accordion-group>
        <accordion-group
          heading="Materiais complementares">
          <ul *ngIf="course.materials.length > 0; else noMaterials">
            <li *ngFor="let material of course.materials">
              <a
                *ngIf="course.isSubscribed; else noSubscribed"
                href="Uploads/{{ material.fileName }}"
                target="_blank">
                {{ material.name }}
              </a>
              <ng-template #noSubscribed>
                {{ material.name }}
              </ng-template>
            </li>
          </ul>
          <ng-template #noMaterials>
            Este curso não possui material disponível.
          </ng-template>
        </accordion-group>
      </accordion>

    </div>
  </div>

  <app-course-rating
    [isSubscribed]="course.isSubscribed"
    [courseId]="course.courseId"
    [ratings]="course.ratings">
  </app-course-rating>

</div>
