.course-rating li.active {
  background: none;
}

.course-rating ul.nav.nav-tabs {
  margin-top: 20px;
}

tab {
  margin: 20px 15px;
}

tab > div {
  margin: 20px 0;
}

rating span {
  font-size: 20px;
}

.bs-rating-star {
  color: gray;
}

.bs-rating-star.active {
  color: orange;
}

.course-rating__user-grade {
  display: block;
}

textarea {
  resize: vertical;
}
