.course-detail {
  &__info {
    margin: 2em 0;

    span {
      &.label {
        margin-right: 5px;
      }
    }
  }

  &__content {
    h4 {
      margin-bottom: 1em;
    }

    .panel-body {
      & > ol:only-child,
      & > ul:last-child {
        margin-bottom: 0;
      }
    }

    .panel-group {
      .panel + .panel {
        margin-top: 10px;
      }
    }
  }
}
