.course-section {
  margin-bottom: 30px;
}

.panel-body > ol:only-child,
.panel-body > ul:last-child {
  margin-bottom: 0;
}

.panel-group .panel + .panel {
  margin-top: 10px;
}

span.label {
  margin-right: 5px;
}

/* .panel {
  -webkit-box-shadow: none;
  box-shadow: none;
} */
