<div class="row" *ngIf="exam && !isExamSubmitted">
  <div class="col-xs-12">
    <h2>Atividade avaliativa</h2>

    <p class="lead">Responda as questões a seguir:</p>

    <form
      #f="ngForm"
      name="form"
      (ngSubmit)="f.form.valid && submitExam()"
      novalidate>

      <ol>
        <li *ngFor="let question of exam.questions">
          <p>
            {{ question.name }}
          </p>
          <div
            class="radio"
            *ngFor="let questionChoice of question.questionChoices">
            <label>
              <input
                type="radio"
                name="{{ question.questionId }}"
                [value]="questionChoice.questionChoiceId"
                [(ngModel)]="question.choiceId">
                {{ questionChoice.name }}
            </label>
          </div>
        </li>
      </ol>

      <button
        [disabled]="!f.valid"
        type="submit"
        class="btn btn-primary pull-right">
        Enviar
      </button>
    </form>
  </div>
</div>

<div class="row" *ngIf="!isApproved && isExamSubmitted">
  <div class="col-xs-12">
    <p class="lead">
      Infelizmente você não conseguiu passar nesta atividade.
    </p>

    <button
      [routerLink]="['/platform/courses', exam.lesson.courseId]"
      type="button"
      class="btn btn-primary">
      Voltar para o curso
    </button>
    <button
      (click)="reload()"
      type="button"
      class="btn btn-primary">
      Refazer questões
    </button>
  </div>
</div>

<div class="row" *ngIf="isApproved && isExamSubmitted">
  <div class="col-xs-12">
    <p class="lead">
      Parabéns! Você conseguiu a aprovação nesta atividade!
    </p>

    <button
      [routerLink]="['/platform/courses', exam.lesson.courseId]"
      type="button"
      class="btn btn-primary">
      Voltar para o curso
    </button>
  </div>
</div>
