<div class="row">
  <div class="col-xs-12">
    <h2>Notas do curso</h2>

    <tabset>
      <tab heading="Notas dos usuários">
        <div *ngFor="let rating of ratings">
          <rating
            [(ngModel)]="rating.grade"
            [max]="5"
            [readonly]="true"
            name="ratingGrade"
            #ratingGrade="ngModel">
          </rating>
          <p>{{ rating.comment }}</p>
        </div>
      </tab>

      <tab heading="Sua nota">
        <p>Dê a sua nota para este curso.</p>

        <form
          #f="ngForm"
          name="form"
          (ngSubmit)="addRating()"
          novalidate>

          <div
            class="form-group">
            <label for="newRatingGrade">Sua nota*</label>
            <rating
              [(ngModel)]="newRating.grade"
              [max]="5"
              name="newRatingGrade"
              #newRatingGrade="ngModel">
            </rating>
          </div>

          <div class="form-group">
            <label for="newRatingComment">Comentário</label>
            <input
              type="text"
              class="form-control"
              name="newRatingComment"
              [(ngModel)]="newRating.comment"
              #newRatingComment="ngModel" />
          </div>

          <button
            [disabled]="!newRating.grade"
            type="submit"
            class="btn btn-primary">
            Enviar
          </button>
        </form>
      </tab>
    </tabset>
  </div>
</div>
