.employee-section {
  margin-bottom: 30px;
}

.employee-detail__info,
accordion {
  margin: 2em 0;
}

.panel-body {
  p:last-child {
    margin-bottom: 0;
  }
}

.panel-group {
  .panel + .panel {
    margin-top: 10px;
  }
}
