<div class="row" *ngIf="employees">
  <div class="col-xs-12 employee-list">
    <h3>Lista de usuários</h3>

    <div class="table-responsive" *ngIf="employees.length > 0; else noEmployees">
      <table class="table employees-list__table">
        <thead>
          <tr>
            <th>Nome</th>
            <th class="hidden-xs">E-mail</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employee of employees">
            <td>{{ employee.appUser.firstName }} {{ employee.appUser.lastName }}</td>
            <td class="hidden-xs">{{ employee.appUser.email }}</td>
            <td>
              <a [routerLink]="['/admin/employees', employee.employeeId]">
                <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span> Visualizar
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <ng-template #noEmployees>
      <div class="panel panel-default employees-list__no-employee">
        <div class="panel-body">
          Você ainda não cadastrou nenhum usuário.
        </div>
      </div>
    </ng-template>

    <button
      [routerLink]="['/admin/employees/add']"
      class="btn btn-success pull-right">
      Adicionar usuário
    </button>
  </div>
</div>
