<div *ngIf="employee">

  <div class="row employee-section">
    <div class="col-xs-12">
      <h3>Detalhes do usuário</h3>

      <div class="panel panel-default employee-detail__info">
        <div class="panel-body">
          <p>
            <strong>Nome:</strong> {{ employee.appUser.firstName }} {{ employee.appUser.lastName }}
          </p>
          <p>
            <strong>E-mail:</strong> {{ employee.appUser.email }}
          </p>
          <p>
            <strong>Ocupação:</strong> {{ employee.occupation }}
          </p>
        </div>
      </div>

    </div>
  </div>

  <div class="row employee-section" *ngIf="courses">
    <div class="col-xs-12">
      <h4>Relatório de atividades nos cursos inscritos</h4>

      <accordion>
        <accordion-group
          *ngFor="let course of courses"
          heading="{{ course.name }}">
          <p>
            <strong>Vídeos assistidos:</strong> {{ course.videoWatch.length }} ({{ course.watchedVideosPercentage }}%)
          </p>
          <p>
            <strong>Nota:</strong>
            <span [ngClass]="{
              'text-success': course.isCompleted,
              'text-danger': course.approvedExamsPercentage < 70 && course.watchedVideosPercentage === 100 }">
              {{ course.approvedExamsPercentage ? course.approvedExamsPercentage + '%' : '--' }}
            </span>
          </p>
          <p>
            <strong>Situação:</strong>
            <span [ngClass]="{
              'text-success': course.isCompleted,
              'text-danger': course.approvedExamsPercentage < 70 && course.watchedVideosPercentage === 100,
              'text-warning': course.watchedVideosPercentage !== 100 }">
              {{ getUserStatusInCourse(course) }}
            </span>
          </p>
        </accordion-group>
      </accordion>

      <div *ngIf="courses.length === 0">
        <p>Este usuário ainda não se inscreveu em nenhum curso.</p>
      </div>
    </div>
  </div>

</div>

