<div class="container-fluid" *ngIf="employee">
  <div class="row">
    <div class="col-xs-12">
      <h2>Detalhes do usuário</h2>

      <div class="row">
        <div class="col-xs-12">
          <p>
            <strong>Nome:</strong> {{ employee.appUser.firstName }} {{ employee.appUser.lastName }}
          </p>
          <p>
            <strong>E-mail:</strong> {{ employee.appUser.email }}
          </p>
          <p>
            <strong>Ocupação:</strong> {{ employee.occupation }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
