<div class="row" *ngIf="isLessonListVisible">
  <div class="col-xs-12">
    <div class="table-responsive"
      *ngIf="lessons.length > 0; else noLessons">
      <table class="table">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let lesson of lessons">
            <td>{{ lesson.name }}</td>
            <td>
              <a [routerLink]="['/admin/courses', lesson.courseId, 'lessons', lesson.lessonId]">
                <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span> Visualizar
              </a>
              <a (click)="deleteLesson(lesson.lessonId)" class="text-danger">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Excluir
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <ng-template #noLessons>
      <p>Você ainda não cadastrou nenhuma unidade.</p>
    </ng-template>

    <button
      type="button"
      (click)="showLessonForm()"
      class="btn btn-primary pull-right">
      Adicionar unidade
    </button>
  </div>
</div>

<div class="row" *ngIf="isLessonFormVisible">
  <div class="col-xs-12">
    <form
      #f="ngForm"
      name="form"
      (ngSubmit)="f.form.valid && addLesson()"
      novalidate>
      <div
        class="form-group"
        [ngClass]="{ 'has-error': newLessonName.touched && !newLessonName.valid }">
        <label for="newLessonName">Nome*</label>
        <input
          type="text"
          class="form-control"
          name="newLessonName"
          [(ngModel)]="newLesson.name"
          #newLessonName="ngModel"
          required />
        <div
          *ngIf="newLessonName.touched && !newLessonName.valid"
          class="help-block">
            Nome obrigatório
        </div>
      </div>

      <div class="form__button-container">
        <button
          type="button"
          class="btn btn-default"
          (click)="backToLessonList()">
          Voltar para a lista
        </button>
        <button
          [disabled]="!f.valid"
          type="submit"
          class="btn btn-success">
          Salvar unidade
        </button>
      </div>
    </form>
  </div>
</div>
