<div class="row">
  <div class="col-xs-12">
    <div class="table-responsive"
      *ngIf="lessons.length > 0; else noLessons">
      <table class="table">
        <thead>
          <tr>
            <th>Nome da unidade</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let lesson of lessons">
            <td>{{ lesson.name }}</td>
            <td>
              <a href="" [routerLink]="['/admin/courses', lesson.courseId, 'lessons', lesson.lessonId]">
                <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>
              </a>
              <a href="" (click)="deleteLesson(lesson.lessonId)">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <ng-template #noLessons>
      <p>Sem unidades cadastradas no momento.</p>
    </ng-template>

    <button
      (click)="showLessonForm()"
      class="btn btn-primary pull-right">
      Adicionar unidade
    </button>
  </div>
</div>

<div class="row" *ngIf="isLessonFormVisible">
  <div class="col-xs-12">
    <form
      #f="ngForm"
      name="form"
      (ngSubmit)="f.form.valid && addLesson()"
      novalidate>
      <div
        class="form-group"
        [ngClass]="{ 'has-error': newLessonName.touched && !newLessonName.valid }">
        <label for="newLessonName">Nome da unidade*</label>
        <input
          type="text"
          class="form-control"
          name="newLessonName"
          [(ngModel)]="newLesson.name"
          #newLessonName="ngModel"
          required />
        <div
          *ngIf="newLessonName.touched && !newLessonName.valid"
          class="help-block">
            Nome obrigatório
        </div>
      </div>

      <button
        [disabled]="!f.valid"
        type="submit"
        class="btn btn-primary">
        Salvar
      </button>
    </form>
  </div>
</div>
