<div *ngIf="lesson">

  <div class="row">
    <div class="col-xs-12">
      <h3>Detalhes de {{ lesson.name }}</h3>

      <div class="panel panel-default lesson-detail__info">
        <div class="panel-body">
          <p *ngIf="lesson.course.name">
            <strong>Nome do curso:</strong>
            <a [routerLink]="['/admin/courses', lesson.courseId]">{{ lesson.course.name }}</a>
          </p>
          <a (click)="deleteLesson(lesson.lessonId)" class="text-danger pull-right">
            Excluir unidade
          </a>
        </div>
      </div>
    </div>
  </div>


  <div class="row lesson-detail__tabs">
    <div class="col-xs-12">
      <ul class="nav nav-tabs">
        <li role="presentation"
          [ngClass]="{'active': tabContent === 'videos'}">
          <a (click)="showTabContent('videos')">
            Vídeos
          </a>
        </li>
        <li role="presentation"
          [ngClass]="{'active': tabContent === 'exam'}">
          <a (click)="showTabContent('exam')">
            Atividades
          </a>
        </li>
      </ul>
    </div>
  </div>

  <app-lesson-videos
    *ngIf="tabContent === 'videos'"
    [videos]="lesson.videos"
    [lessonId]="lesson.lessonId"
    (updateLessonDetail)="updateLessonDetail()">
  </app-lesson-videos>

  <app-lesson-exam
    *ngIf="tabContent === 'exam'"
    [exam]="lesson.exam"
    [lessonId]="lesson.lessonId"
    (updateLessonDetail)="updateLessonDetail()">
  </app-lesson-exam>
</div>
