<div class="login">
  <div class="login__content">
    <div *ngIf="alerts.length > 0">
      <alert
        *ngFor="let alert of alerts"
        [type]="alert.type"
        [dismissible]="dismissible"
        [dismissOnTimeout]="3000">
        {{ alert.message }}
      </alert>
    </div>

    <h3>Login</h3>

    <form
      #f="ngForm"
      name="form"
      novalidate
      (ngSubmit)="f.form.valid && login()">
      <div
        class="form-group"
        [ngClass]="{ 'has-error': loginEmail.touched && !loginEmail.valid }">
        <label for="email">E-mail</label>
        <input
          type="email"
          class="form-control"
          name="email"
          id="email"
          [(ngModel)]="email"
          #loginEmail="ngModel"
          required email/>
        <div *ngIf="loginEmail.touched && !loginEmail.valid" class="help-block">
          E-mail inválido
        </div>
      </div>
      <div
        class="form-group"
        [ngClass]="{ 'has-error': loginPassword.touched && !loginPassword.valid }">
        <label for="password">Senha</label>
        <input
          type="password"
          class="form-control"
          name="password"
          d="password"
          [(ngModel)]="password"
          #loginPassword="ngModel"
          required/>
        <div *ngIf="loginPassword.touched && !loginPassword.valid" class="help-block">
          Senha obrigatória
        </div>
      </div>
      <button
        type="submit"
        class="btn btn-success btn-block"
        [disabled]="!f.valid">
        <span class="glyphicon glyphicon-cog spinning" *ngIf="loading"></span>
        {{ !loading ? 'Entrar' : 'Carregando...' }}
      </button>
    </form>

  </div>
</div>
