<div class="row exam-section" *ngIf="!isQuestionFormVisible">
  <div class="col-xs-12">
    <div *ngIf="exam; else noExam">
      <div *ngIf="exam.questions.length > 0; else noQuestions">
        <ol>
          <li *ngFor="let question of exam.questions">
            <p>
              {{ question.name }}
              <a class="pull-right text-danger" (click)="deleteQuestion(question.questionId)">
                <span class="glyphicon glyphicon-remove is-remove-icon" aria-hidden="true"></span>Remover
              </a>
            </p>
            <ol>
              <li type="a"
                  *ngFor="let questionChoice of question.questionChoices"
                  [ngClass]="{'text-success': questionChoice.isCorrect }">
                {{ questionChoice.name }}
                <span *ngIf="questionChoice.isCorrect"
                      class="glyphicon glyphicon-ok text-success is-correct-icon"
                      aria-hidden="true">
                </span>
              </li>
            </ol>
          </li>
        </ol>
      </div>
      <ng-template #noQuestions>
        <p>Você ainda não cadastrou nenhuma questão.</p>
      </ng-template>
    </div>
    <ng-template #noExam>
      <p>Você ainda não cadastrou nenhuma atividade.</p>
    </ng-template>

    <button
      *ngIf="!exam"
      (click)="addExam()"
      class="btn btn-default pull-right">
      Adicionar questão
    </button>

    <button
      *ngIf="exam"
      (click)="showQuestionForm()"
      class="btn btn-default pull-right">
      Adicionar questão
    </button>
  </div>
</div>

<div class="row exam-section" *ngIf="isQuestionFormVisible">
  <div class="col-xs-12">
    <h4>Adicionar questão</h4>

    <form #f="ngForm"
          name="form"
          (ngSubmit)="f.form.valid && addQuestion()"
          novalidate>

      <div class="form-group"
           [ngClass]="{ 'has-error': newQuestionName.touched && !newQuestionName.valid }">
        <label for="newQuestionName">Pergunta*</label>
        <input type="text"
               class="form-control"
               name="newQuestionName"
               [(ngModel)]="newQuestion.name"
               #newQuestionName="ngModel"
               required />
        <div *ngIf="newQuestionName.touched && !newQuestionName.valid"
             class="help-block">
          Pergunta obrigatória
        </div>
      </div>

      <div class="form-group row"
           [ngClass]="{ 'has-error': firstQuestionChoice.touched && !firstQuestionChoice.valid }">
        <div class="col-xs-12 col-sm-9 col-md-10">
          <label for="firstQuestionChoice">Primeira alternativa</label>
          <input type="text"
                 class="form-control"
                 name="firstQuestionChoice"
                 [(ngModel)]="newQuestion.questionChoices[0].name"
                 #firstQuestionChoice="ngModel"
                 required />
          <div *ngIf="firstQuestionChoice.touched && !firstQuestionChoice.valid"
               class="help-block">
            Resposta obrigatória
          </div>
        </div>
        <div class="checkbox col-xs-12 col-sm-3 col-md-2 lesson-exam__checkbox">
          <label>
            <input type="checkbox"
                   name="firstQuestionChoiceOption"
                   [(ngModel)]="newQuestion.questionChoices[0].isCorrect">
            Resposta correta
          </label>
        </div>
      </div>

      <div class="form-group row"
           [ngClass]="{ 'has-error': secondQuestionChoice.touched && !secondQuestionChoice.valid }">
        <div class="col-xs-12 col-sm-9 col-md-10">
          <label for="secondQuestionChoice">Segunda alternativa</label>
          <input type="text"
                 class="form-control"
                 name="secondQuestionChoice"
                 [(ngModel)]="newQuestion.questionChoices[1].name"
                 #secondQuestionChoice="ngModel"
                 required />
          <div *ngIf="secondQuestionChoice.touched && !secondQuestionChoice.valid"
               class="help-block">
            Resposta obrigatória
          </div>
        </div>
        <div class="checkbox col-xs-12 col-sm-3 col-md-2 lesson-exam__checkbox">
          <label>
            <input type="checkbox"
                   name="firstQuestionChoiceOption"
                   [(ngModel)]="newQuestion.questionChoices[1].isCorrect">
            Resposta correta
          </label>
        </div>
      </div>

      <div class="form-group row"
           [ngClass]="{ 'has-error': thirdQuestionChoice.touched && !thirdQuestionChoice.valid }">
        <div class="col-xs-12 col-sm-9 col-md-10">
          <label for="thirdQuestionChoice">Terceira alternativa</label>
          <input type="text"
                 class="form-control"
                 name="thirdQuestionChoice"
                 [(ngModel)]="newQuestion.questionChoices[2].name"
                 #thirdQuestionChoice="ngModel"
                 required />
          <div *ngIf="thirdQuestionChoice.touched && !thirdQuestionChoice.valid"
               class="help-block">
            Resposta obrigatória
          </div>
        </div>
        <div class="checkbox col-xs-12 col-sm-3 col-md-2 lesson-exam__checkbox">
          <label>
            <input type="checkbox"
                   name="firstQuestionChoiceOption"
                   [(ngModel)]="newQuestion.questionChoices[2].isCorrect">
            Resposta correta
          </label>
        </div>
      </div>

      <p class="text-danger"
         *ngIf="showAnswerErrorMessage">
        Esta pergunta deve possuir uma alternativa correta.
      </p>

      <div class="form__button-container">
        <button type="button"
                class="btn btn-default"
                (click)="backToQuestions()">
          Voltar para a lista
        </button>
        <button [disabled]="!f.valid"
                type="submit"
                class="btn btn-success pull-right">
                <span class="glyphicon glyphicon-cog spinning" *ngIf="loading"></span>
                {{ !loading ? 'Salvar questão' : 'Carregando...' }}
        </button>
      </div>
    </form>

  </div>
</div>
