<div class="row" *ngIf="courses">
  <div class="col-xs-12">
    <h3 class="course-list__title">Todos os nossos cursos</h3>

    <div class="table-responsive" *ngIf="courses.length > 0; else noCourses">
      <table class="table course-list__table">
        <thead>
          <tr>
            <th>Curso</th>
            <th>Instrutor</th>
            <th>Categoria</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let course of courses">
            <td>
              <a [routerLink]="['/platform/courses', course.courseId]">
                {{ course.name }}
              </a>
            </td>
            <td>
              {{ course.instructor }}
            </td>
            <td>
              {{ course.category }}
            </td>
            <td>
              <button
                type="button"
                class="btn btn-success btn-xs"
                *ngIf="!course.isSubscribed"
                (click)="subscribeCourse(course.courseId)">
                <span class="glyphicon glyphicon-cog spinning" *ngIf="loading"></span>
                {{ !loading ? 'Inscrever-se' : 'Carregando...' }}
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <ng-template #noCourses>
      <div class="panel panel-default course-list__no-course">
        <div class="panel-body">
          No momento ainda não temos cursos disponíveis :(
        </div>
      </div>
    </ng-template>

  </div>
</div>
