.course-list {
  &__title {
    margin-bottom: 1.25em;
  }

  &__no-course {
    height: 15em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }
}
